@font-face {
  font-family: Chicago;
  src: 
  local(Chicago),
  url('../public/ChicagoFLF.ttf')
}
*{
  margin: 0;
  padding: 0;
}
.desktop{
  background-image: url(../public/wallpaper.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .barra{
    display: flex;
    align-items: flex-end;
    font-family: Chicago;
    font-weight: 100;
    color: rgb(44, 44, 44);
    justify-content: space-between;
    font-size: smaller;
    p{
      @media (max-width: 700px) {
        display: none;
      }
    }
    img{
      height: 32px;
      @media (max-width: 700px) {
        height: 50% ;
      }
    }
  }
}
.draggableContent{
  width: auto;
  height: 88vh;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  .orden{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trash{
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    width: 132px;
  }
}


.carpetPic{
  width: fit-content;
  text-align: center;
  font-family: Chicago;
  margin: 10px;
  p{
    background-color: rgba(255, 255, 255, 0.377);
    @media (max-width: 700px) {
      font-size: smaller;
    }
  }
  input{
    width: 45px;
    cursor: pointer;
    @media (max-width: 700px) {
      width: 30px ;
    }
  }
  img{
    width: 45px;
    cursor: pointer;
    @media (max-width: 700px) {
      width: 30px ;
    }
  }
}

.loadingPage{
  background-image: url(../public/wallpaper.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
   width: 500px;
   padding-bottom: 200px;
   @media (max-width: 700px) {
    width: 90vw ;
  }
  }


}